<div class="container-fluid" id="mainContainer">
        <div class="row">
            <div class="col-6">
            </div>

            <div class="col-6" id="main">
                <div id="recipeDiv">
                <form role="form">
                    <label for="recipeName">Recipe Name</label><br>
                    <input type="text" id="recipeName"><br>

                    <label for="ingredients">Ingredients</label><br>
                    <input type="text" id="ingredients"><br>

                    <label for="steps">Steps</label><br>
                    <input type="text" id="steps"><br>

                    <label for="comments">Comments</label><br>
                    <input type="text" id="comments"><br>

                    <label for="imgUrl">Image</label><br>
                    <input type="text" id="imgUrl"><br>

                    <button type="button" id="submitRecipe">Submit</button>
                </form>
                </div>

                {{!-- <div id="userDiv"> 
                    <button>LogOut</button>
                </div> --}}


            </div>
        </div>

    </div>
    